<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>596844028392-te1ccmdh62gpucpgpupldd2qhqpci0hb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLRJ20irXPw5ClX10p0-Emjg1ypqINrHc</string>
	<key>GCM_SENDER_ID</key>
	<string>596844028392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shortsApp</string>
	<key>PROJECT_ID</key>
	<string>flutterloginsys-d8902</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterloginsys-d8902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596844028392:ios:d2d9d4de8183ad2ce4445d</string>
</dict>
</plist>